.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(67, 67, 67, 0.9);
    backdrop-filter: blur(5px);
}

.modal-wrapper {
    padding: 20px;
    width: 100%;
    max-width: 800px;
    position: relative;
    display: grid;
    place-items: center;
}

@media (min-width: 768px) {
    .modal-wrapper {
        min-width: 600px;
    }
}

@keyframes showModal {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
    }
}

.modal {
    background: #272727;
    overflow: hidden;
    width: 100%;
    animation: showModal 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    border-radius: 10px;
}

.modal-body {
    max-height: 500px;
    overflow: auto;
}

.modal-header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    padding: 20px 30px 20px 30px;
}

.close-button {
    position: relative;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    line-height: 0;
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    background: rgba(255, 0, 0, 0.15);
    border-radius: 50%;
}

.close-button:hover {
    background: rgba(255, 0, 0, 0.25);
}

.close-button > .line {
    width: 55%;
    height: 1px;
    background: #ff0000;
    position: absolute;
    transform: translate(-50%) rotate(45deg);
    top: 50%;
    left: 50%;
    border-radius: 5px;
}


.close-button > .line-1 {
    transform: translate(-50%) rotate(45deg);
}

.close-button > .line-2 {
    transform: translate(-50%) rotate(-45deg);
}

.close-button:hover {
    color: white;
}