.indexPage {
  position: relative;
  display: flex;
  height: 100dvh;
  width: 100%;
  flex-direction: column;

  @media (min-width: 1280px) {
    flex-direction: row;
  }
}

.title {
  font-size: clamp(1.8rem, 5vw, 3rem);
  color: white;
  font-weight: 700;
  letter-spacing: -0.05em;
}

.samplesLabel {
  padding: 10px 15px;
  background: #3c3c3c;
  color: white;
  font-weight: bold;
  line-height: 1;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 7px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background: #686868;
  }
}

.sampleCount {
  margin-right: 5px;
  padding: 10px 20px 10px 13px;
  background: #686868;
  display: grid;
  place-items: center;
  color: white;
  font-weight: bold;
  line-height: 1;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.showSelectAlgorithmModalButton {
  margin-top: 20px;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.05);
  color: white;
  font-weight: bold;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s cubic-bezier(0.3, 0, 0, 1);
  will-change: transform;

  @media (min-width: 1280px) {
    display: none;
  }

  &:hover {
    background: rgba(18, 255, 156, 0.58);
  }

  &.disabled {
    background: rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.38);
    cursor: not-allowed;
  }
}

.selectedAlgorithm {
  width: 100%;
  display: grid;
  place-items: center;
  color: rgb(18, 255, 156);
  font-weight: bold;
  font-size: 1.2rem;

  @media (min-width: 1280px) {
    display: none;
  }
}